#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+bindnow

DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	dh_installsystemd --name=afs
	mkdir -p debian/kafs-client/etc/kafs
	cp conf/etc.conf debian/kafs-client/etc/kafs/client.conf
